name: Python application with ECR and AWS login

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
     - uses: actions/checkout@v2
     - name: Set up Python 3.10
       uses: actions/setup-python@v3
       with:
         python-version: "3.10"
    # - name: Install dependencies
    #   run: |
    #     python -m pip install --upgrade pip
    #     pip install flake8 pytest
    #     if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    # - name: Lint with flake8
    #   run: |
    #     # stop the build if there are Python syntax errors or undefined names
    #     flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
    #     # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
    #     flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

  ecr_and_docker:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      # - name: Set up QEMU
      #   uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: AKIA2XI5PNE6VEAKSMH7
          aws-secret-access-key: 'wiY3YKbk2vtnh7D0mcBR6VIzYo21mdyMImB5H/HP'
          aws-region: ap-south-1  # Specify your AWS region

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build and push Docker image to Amazon ECR
        env:
          REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          REPOSITORY: argotest
          IMAGE_TAG: ${{ github.run_number }}  # Specify your desired image tag
        run: |
          docker build -t $REGISTRY/$REPOSITORY:$IMAGE_TAG .
          docker push $REGISTRY/$REPOSITORY:$IMAGE_TAG

  modifygit:
    needs: ecr_and_docker
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        name: Changing the deployment of the Git repo
        with:
          repository: 'keshavkhatore/App-Manifest--main'
          token: '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'

      - name: Modify the image
        run: |
          git config user.email keshav.khatore@redingtongroup.com
          git config user.name keshavkhatore
          cat deployment.yaml
          pwd
          sed -i "s+737185589565.dkr.ecr.ap-south-1.amazonaws.com/argotest.*+737185589565.dkr.ecr.ap-south-1.amazonaws.com/argotest:${{ github.run_number }}+g" deployment.yaml
          cat deployment.yaml
          git add .
          git commit -m 'Done by GitHub Actions Job changemanifest:${{ github.run_number }}'
          git push origin main
        env:
          GIT_USERNAME: keshavkhatore 
          GIT_PASSWORD: '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'
